HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
mvnw
.mvn/
mvnw.cmd
twitter-to-kafka-service/twitter-to-kafka-service/*
twitter-to-kafka-service/logs/*
twitter-to-kafka-service/src/main/java/com/microservices/demo/twitter/to/kafka/service/runner/RunnerTestMain.java


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.run
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
